body{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
      

}
.titulo{
    color: #2AF598;
    display: block;
    text-align: center;
    background-color: #4158D0;
    background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 56%, #FFCC70 100%);    
    height: 100px;
    text-shadow: 1px 1px 5px black;
    font-family:'Courier New', Courier, monospace;
    

}
.h{
    padding: 35px; 
}
a{
    
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family:'monospace';
    color: #d0ff00;
    margin:auto;
}
ul{
    text-align: center !important;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
li{
    box-shadow:1px 1px 5px #000000;
    border-radius: 1rem;
    display: inline-flex;
    width: 20% auto;
    margin: 1px;
    padding: 10px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    
}
h2{
    color: #2AF598;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);    
    text-align: center;
    padding: 6px;
    text-shadow: 1px 1px 5px black;
    
}
.led{
    text-align: center;
    padding-top: 10px;
}
.imagenes{
    margin: 5px;

}


img{
    filter:drop-shadow(8px 8px 4px #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4);
    border-radius: 3rem;
    width: 250px;
    height: 350px;
    transition: 2s;
}
img:hover{
    width: 350px;
    height: 400px;
    transition: 1s;

}
.bl{
    display: block;
    font-size: 30px;
 
}
button{
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

    text-align: center;
    border-radius: 2rem;
    padding: 7px;
    color: rgb(179, 255, 0);
    text-shadow:5px 1px 5px #000000;
    cursor: pointer;
}
div{
    margin-bottom: 10px;
}
.bñ{
    margin-bottom: 10px;
    margin-top: 10px;
}
p{
    text-align: center;
    justify-content: center;
    justify-items: center;
}
footer{
    background-color: #4158D0;
    background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 56%, #FFCC70 100%);    
    margin-bottom: 0;
    color: white;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;

}
.dedo{
    width: 70px;
    height: 50px;
    border-radius: 0;
}
.dedo:hover{
    width: 70px;
    height: 50px;
}
.info{
    font-size: 35px;
    color: rgb(3, 231, 60);
    text-shadow: 1px 1px 5px rgb(0, 0, 0),1px 1px 5px rgb(0, 0, 0),1px 1px 5px rgb(0, 0, 0);
}

